{{#extend "stylesheets"}}
<link rel="stylesheet" href="/static/css/greeting.css"/>
{{/extend}}

<div id="greeting">
    <h3>Welcome to the iDo App</h3>
    <p>Here you can keep track of your busy schedule</p>
    <button class="btn" id="show-login">LogIn</button>
    <span>or</span>
    <button class="btn" id="show-signup">SignUp</button>
</div>

{{#extend "scripts"}}
    <script src="../static/js/greeting.js"></script>
    <script src="../static/js/greeting-header.js"></script>
{{/extend}}