{{#extend "stylesheets"}}
<link type="text/css" rel="stylesheet" href="../static/css/home.css"> 
{{/extend}}

<h1 class="home-title">Home</h1>

<div class="row" style="margin-top: 13%;">

    <div class="col-xl-6 col-lg-6 col-sm-6 col-xs-6 mx-auto">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <a class="link" href="/todos/me">
                    <div class="home-links">
                        <span>Your ToDos</span>
                    </div>
                </a>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <a class="link" href="/new">
                    <div class="home-links">
                        <span>New ToDo</span>
                    </div>
                </a>
            </div>
        </div>
    </div>

</div>

{{#extend "scripts"}} {{!--
<script src="../static/js/home.js"></script> --}}
<script src="../static/js/logout.js"></script>
<script src="../static/js/profile-options.js"></script> 
{{/extend}}