<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" type="image/png" href="../static/img/pensil-favico.png"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link type="text/css" rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/navigation.css"></link>
    {{{block "stylesheets"}}}

</head>

<body id="notes-background">
    {{> header}}

    <div class="container">
        {{{ body }}}
    </div>
    <script src="../static/js/libs/jquery-3.3.1.min.js"></script>
    <script src="../static/js/libs/tether.min.js"></script>
    <script src="../static/js/libs/bootstrap.min.js"></script>
    <script src="../static/js/header.js"></script>
    
    {{{block "scripts"}}}
</body>

</html>