{{#extend "stylesheets"}}
    <link rel="stylesheet" href="/static/css/form.css"/>
{{/extend}}

<div class="form-cnt col-xl-4 col-lg-5 col-md-6 mx-auto">
    <h3 class="form-title">Log In</h3>
    <hr>
    <form id="login">
        <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" placeholder="Enter e-mail" id="login-username" />
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" placeholder="Enter password" id="login-password" />
        </div>
        <button class="btn form-btn">Log In</button>
    </form>
    <span class="float-right"><a href="/signup">or Sign up here</a></span>
</div>

{{#extend "scripts"}}
    <script src="../static/js/escape.js"></script>
    <script src="../static/js/greeting-header.js"></script>
    <script src="../static/js/login.js"></script>
{{/extend}}