{{#extend "stylesheets"}}
{{/extend}}

<h1>Profile works</h1>
<button class="btn" id="delete-account">Delete account</button>

{{#extend "scripts"}}
    <script src="../static/js/delete-account.js"></script>  
    <script src="../static/js/profile.js"></script>
    <script src="../static/js/logout.js"></script>
    <script src="../static/js/profile-options.js"></script>
{{/extend}}