{{#extend "stylesheets"}}
    <link rel="stylesheet" href="/static/css/form.css" /> 
{{/extend}}

<div class="form-cnt col-xl-4 col-lg-5 col-md-6 mx-auto">
    <h3 class="form-title">Sign Up</h3>
    <hr>
    <form id="signup">
        <div class="form-group">
            <label class="required">Username</label>
            <input type="text" class="form-control" placeholder="Enter e-mail" id="signup-username" />
        </div>
        <div class="form-group">
            <label class="required">Password</label>
            <input type="password" class="form-control" placeholder="Enter password" id="signup-password" />
        </div>
        <button class="btn form-btn">Sign Up</button>
    </form>
    <span class="float-right"><a href="/login">or Log in here</a></span>
</div>

{{#extend "scripts"}}
    <script src="../static/js/escape.js"></script>
    <script src="../static/js/greeting-header.js"></script>
    <script src="../static/js/signup.js"></script> 
{{/extend}}