{{#extend "stylesheets"}}
    <link rel="stylesheet" href="/static/css/login-form.css"/>
{{/extend}}

<div id="signup-cnt" class="">
    <h3>Sign Up</h3>
    <form id="signup">
        <label>Username</label>
        <input type="text" placeholder="Enter e-mail" id="signup-username" />
        <label>Password</label>
        <input type="text" placeholder="Enter password" id="signup-password" />
        <button>Sign Up</button>
    </form>
</div>

{{#extend "scripts"}}
    <script src="../static/js/escape.js"></script>
    <script src="../static/js/greeting-header.js"></script>
    <script src="../static/js/get-home-page.js"></script>
    <script src="../static/js/signup.js"></script>
{{/extend}}
