{{#extend "stylesheets"}}
    <link type="text/css" rel="stylesheet" href="../static/css/todos.css">
{{/extend}}

<h1 class="h1">Your Todos</h1>

<div id="current-todos">Current Todos</div>
<div id="completed-todos">Completed Todos</div>

{{#extend "scripts"}}
    <script src="../static/js/logout.js"></script>
    <script src="../static/js/profile-options.js"></script>
    <script src="../static/js/todos.js"></script>
    <script src="../static/js/patch-todo.js"></script>
    <script src="../static/js/edit-todo.js"></script>

{{/extend}}