.form-cnt {
    margin: 5%;
    background-color: rgba(233, 235, 238, 0.95);
    border-radius: 2%;
}

.form-title {
    padding-top: 5%;
    color: #D35400;
    text-align: center;
}

hr {
    background-color: #D35400;
}

.form-btn {
    margin-left: 22%;
    margin-bottom: 8%;
    width: 50%;
    background-color: #D35400;
    color: whitesmoke;
}

textarea {
    resize: none;
}