html, body {
    background-color: #2D2D2F;
    margin: 0;
    height: 100%;
}

.notes-background {
    background: 
        url('../img/notebook.jpg') center no-repeat, 
        url('../img/wood.jpg') repeat;
    background-size: cover;                      
    /* background-repeat: no-repeat, repeat; */
    background-position: center;  
}

.wood-background {
    height: auto;
    background-image: url('../img/wood.jpg');
    /* background-size: cover;                       */
    background-repeat: repeat;
    /* background-position: center;  */
}

.h3 {
    margin: 2%;
    color: #E67E22;
}

.navbar {
    background-color: #222222;
    box-shadow: 0px 0.5px 10px black;
}

.navbar-brand {
    color: #AFB7C4;    
}

#home-link {
    color: whitesmoke;
    cursor: pointer;
}

#your-todos-link,
#new-todo-link {
    cursor: pointer;
}

#footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    background:black;
 }
