.hidden {
    display: none;
}

.row-style {
    background-color: #E9EBEE;
    border-radius: 5px;
}

.todo-style {
    margin: 3%;
    padding: 3%;
    max-height: 150;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 0.5px 10px gray;
}

.sideBar {
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 50%;
}

.todo-text {
    text-align: center;
}

.radio-btn {
    /* font-size: 50%; */
}

.btn-edit, .btn-save {
    width: 50%;
    height: 50%;
    margin: 1%;
    /* font-size: 50%; */
    text-align: center;
}

.date-time-cnt {
    /* font-size: 50%; */
}

