.hidden {
    display: none;
}

.todo-title {
    text-align: center;
}

.checkbox-cnt {
    align-self: flex-end;
}

.btn-cnt {
    align-self: flex-end;
    display: flex;
    flex-direction: row;
}

.btn-edit, .btn-save {
    margin-left: 1%;
    background-color: #D35400;
    color: whitesmoke;
    text-align: center;
    font-size: 0.75em;
}

.date-time-completed {
    float: right;
    margin-right: 10%;
    padding: 0;
    color: gray;
    font-size: 13px;
}

.pointer{
    cursor: pointer;
}

.edit-cnt {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    min-height: 30%;
    margin-top: 20%;
    background-color: #FFFFFF;
    border: 1px solid #DFDFDF;
    border-radius: 3px;
    position: absolute;
}

.edit-title {
    margin: 1%;   
}

.edit-text {
    margin: 3%;
}

.todo-style {
    margin: 3%;
    max-height: 150;
    background-color: white;
    /* border-radius: 5px; */
    overflow: hidden;
    /* box-shadow: 0px 0.5px 10px black; */
    align-self: flex-end;
}
.side-bar {
    margin: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 0.75em;
}

hr {
    width: 100%;
    /* border-color: gray; */
}
